.ContactData {
    margin: 2rem auto;
    width: 80%;
    text-align: center;
    border: 1px solid #eee;
    padding: 1rem;
    border-radius: 3px;
    box-shadow: 0 2px 3px #ccc;
}

.Error {
    color: red;
}

@media (min-width: 600px) {
    .ContactData {
        width: 50rem;
    }
}